-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

%img.introduction-img{ :src => "assets/introduction-img.jpg" }

.container
  .row
    .wrapper.col-10
      %h2.top-title About us
      .main-article
        %div
          %p Bob: I’m Bob Cringely.16 years ago when I was making my television series Triumph of the Nerds, I interviewed Steve Jobs.That was in 1995, 10 years earlier Steve had left Apple, following a bruising struggle with John Sculley, the CEO he had brought into the company.At the time of our interview, Steve was running NeXT, the niche computer company he founded after leaving Apple.Little did we know was within 18 months he would sell NeXT to Apple, and 6 month later he'd be running the place.The way things work in television we use only a part of that interview in the series.And for years we thought the interview was lost for forever, because the master tape were missing while being shipped from London to US in the 1990s.Then just a few days ago, series director Paul Sen found a VHS copy of that interview in his garage.There are very few TV interviews with Steve Jobs and almost no good ones.They rarely show the charisma, candor and vision that this interview does.And so to honor an amazing man, here’s that interview in its entirety, most of these has never been seen before.

-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'