-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

%img.main-img{ :src => 'assets/paper.jpg' }

.container
  .row
    .wrapper.col-12
      
%hr/
-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'