-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

%img.main-img{ :src => 'assets/sand.jpg' }

%hr/
-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'