-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

.contact-title.col-12
  %h2.top-title Thank you for your Contact.

-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'