@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Merienda');

/* header */
.header {
  height: 90px;
  background-color: rgb(255, 255, 255);
}

.header-title {
  font-family: 'Cormorant Upright',serif;
}

.main-img {
  background-size: cover;
  width: 100%;
  height: 70vh;
  /* position: fixed; */
}

.introduction-img, .contact-img {
  width: 100%;
  height: 80vh;
}

/* body */
body {
  background-color: rgb(236, 238, 238);
}

/* Category Page */
.top-title {
  font-size: 50px;
  font-family: 'Cormorant Upright',serif;
  text-align: center;
  margin-bottom: 22px;
  color: rgb(128, 128, 133);
}

.wrapper {
  width: 1000px;
  margin-top: 70px;
  margin: auto;
}

.post-label {
  font-family: 'Cormorant Upright',serif;
  font-size: 38px;
  color: rgb(135, 140, 148);
  border-bottom: 1px solid rgb(135, 140, 148);
}

.article {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 3px 3px rgba(235,235,235,0.8); 
  border-radius: 5px;
  margin-bottom: 200px;
  overflow: scroll;
}

.sub-article {
  width: 50%;
  height: 10vh;
  overflow: hidden;
  margin: 0 auto;
}

.read-more:hover {
  text-decoration: none;
}

.thumbnail-title {
  font-family: 'Cormorant Upright',serif;
  text-align: center;
  font-size: 27px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  margin: 50px auto 0 auto;
}

.heading {
  width: 100%;
  margin: 50px auto 0 auto;
  text-align: center;
}

.main-article-title {
  font-family: 'Cormorant Upright',serif;
  text-align: center;
}

.article-img {
  margin: 22px;
}

.main-article {
  font-family: 'Cormorant Upright',serif;
}

.footer-article {
  font-family: 'Cormorant Upright',serif;
  text-align: right;
  border-bottom: 1px solid rgb(135, 140, 148);
  margin-bottom: 50px;
}

.new_inquiry {
  text-align: center;
}

/* Contact Page */
.contact-title {
  width: 100%;
  height: 100px;
  text-align: center;
  margin: auto;
}

.contact-form {
  width: 100%;
  margin: auto;
  background-color: rgb(255, 255, 255);
}

.contact-text {
  font-family: 'Cormorant Upright',serif;
}

.text-box {
  border: 2px solid rgb(135, 140, 148);
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  outline: none;
}

.textlines {
  border: 2px solid rgb(135, 140, 148);
  border-radius: 3px;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
  height: 120px;
  font-size: 1em;
  line-height: 1.2;
  outline: none;
}

.thanks-box {
  margin: 200px 0 100px 0;
}

.submit-btn {
  margin: 30px 0 30px 0;
}

.sns-icon {
  cursor: pointer;
}

/* footer */
.footer {
  padding: 50px 0 20px 0;
  color: rgb(135, 140, 148);
}
.footer .title{text-align: left;color:rgb(135, 140, 148);font-size:25px;}

.footer-title {
  font-family: 'Cormorant Upright',serif;
}

.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:rgb(135, 140, 148);font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:rgb(135, 140, 148);font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}


.footer .category a {
  text-decoration: none;
  color:rgb(135, 140, 148);
  display: inline-block;
  padding: 5px 20px;
  margin: 1px;
  border-radius:4px;
  margin-top: 6px;
  background-color: rgb(255, 218, 185);
  border: solid 1px rgb(245, 208, 175);
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
  text-decoration: none;
  display: inline-block;
  color: rgb(135, 140, 148);
  font-size: 25px;
  padding: 10px 10px;
}

.log-in-btn, .log-in-btn:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}