%footer.footer
  .container
    .row
      .col-sm-3
        %h4.title.footer-title HikaBlog
        %p This site has been created free of charge for those who strive to work on new things.
        %p We are supporting you.
      .col-sm-3
        %h4.title.footer-title Category
        %span.acount-icon
          %a{:href => posts_path}
            %i.fa.fa-home{"aria-hidden" => "true"}
            Home
          %a{:href => programming_path}
            %i.fa.fa-laptop-code{"aria-hidden" => "true"}
            Programming
          %a{:href => english_path}
            %i.fa.fa-language{"aria-hidden" => "true"}
            English
          %a{:href => inquiry_path}
            %i.fa.fa-paper-plane{"aria-hidden" => "true"}
            Contact
          -# %a{:href => "#"}
          -#   -# %i.fa.fa-globe{"aria-hidden" => "true"}
          -#   Ranking
      -# - if current_user
      -#   %li.nav-item{ style: 'list-style: none;' }
      -#     %button.btn.btn-dark{type: 'button', style: 'margin: 5px;' }
      -#       = link_to 'ログアウト', logout_path, method: :delete, class: 'log-in-btn'
      -# - else
        -# %li.nav-item{ style: 'list-style: none;' }
        -#   %button.btn.btn-warning{ type: 'button', style: 'margin: 5px;' }
        -#     = link_to '管理者の方', login_path, class: 'log-in-btn'
    %hr/
    .row.text-center © 2020. Made by Hikaru.
